.Select__Money{
    margin-left: 0px;
    background: #e8e8e8;
    border: #e8e8e8;
    font-size: 20px;
    font-weight: 100;
}

#barra{
    background: #e8e8e8;
    border-radius: 10px;


}


#Ul{
    margin-left: 150px;
}







